user www-data; 
worker_processes auto; 
pid /run/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;

events{
	worker_connections 1024;
}

http {

	server {

		listen {{ansible_host}};

		location / {
			root /root/data/www/;

		}


		location /file/ {

			return 200 /root/home/file111;
		}

		location /sobaka {

			return 200 "Hello, cat!";

		}

	}
}
